.user-container {
    max-width: 500px;
    padding: 15px;
    .form-user {
        margin-left: 20px;
        input {
            margin-bottom: 10px;
            margin-right: 5px;
            max-width: 330px;
            display: inline;
        }
        .validator-label {
            &.valid {
                color: green;
            }
            &.invalid {
                color: red;
            }
        }   
    }
    .register-link {
        cursor:pointer;
        font-size: 0.8em;
        margin: 10px 0;
    } 
}
fieldset.group{
    margin: 0;
    padding: 0;
    margin-bottom: 1.25em;
    padding: .125em;
    border: 1px black solid; 
    width: 500px;
}
fieldset.group legend{
    margin: 0;
    padding: 0;
    font-weight: normal;
    margin-left: 20px;
    font-size: 100%;
    color: black;
    width: 225px;
}
ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style:  none;
}
ul.checkbox li input {
    margin-right: .25em;
}
ul.checkbox li {
    border: 1px transparent solid;
}
ul.checkbox li label{
    margin-left: 0;
}
ul.checkbox li:hover, ul.checkbox li.focus {
    background-color: lightyellow;
    border: 1px gray solid;
    width: 12em;
}
.content {
    padding: 30px;
    color: #787878;
    background-color: red;
    border: 1px solid rgba(0,0,0,.05);
}

.example-wrapper {
    min-height: 100px;
}
div.k-popup.ng-trigger.ng-trigger-toggle{
    background-color: lightgray !important;
    border: 10px dotted red !important;
}
h2{
    margin-top: 0px;
}
.content-popup{
    background-color: blue;
}
.background-container {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    box-shadow: 0px 2px 9px #8a8a8a;
    margin-left: 10%;
    margin-right: 10%;
}

.breadCrum {
    position: relative;
    top: -50px
}

.default-tab {
    text-align: center;
    color: white;
    font-size: 25px;
    height: 25px;
    min-height: 0px;
    background-color: #2c3e50;
}
