<div class="container exercise-content">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">Confirm Password Creation</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <form class="confirm-user" [formGroup]="setPasswordForm" (submit)="onSubmit()">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Password">Enter your password:&nbsp;</label>
                    <input formControlName="Password" type="password" class="form-control" placeholder="Enter your Password" id="Password" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="PasswordConfirm">Confirm your password:&nbsp;</label>
                    <input formControlName="PasswordConfirm" type="password" class="form-control" placeholder="Confirm your password" id="PasswordConfirm" />
                </div>
            </div>
            <!--<div class="col-md-12" hidden>
                <div class="form-group" hidden>
                    <label for="UserId">&nbsp;</label>
                    <input formControlName="UserId" type="text" class="form-control" value="{{userId}}" id="UserId" />
                </div>
            </div>
            <div class="col-md-12" hidden>
                <div class="form-group">
                    <label for="Token">&nbsp;</label>
                    <input formControlName="Token" type="text" class="form-control" value="{{token}}" id="Token" />
                </div>
            </div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-small" [disabled]="!confirmForm.valid" value="Submit" />
                </div>
            </div>
        </form>
    </div>
    <tsf-footer></tsf-footer>
</div>