<!--class="container exercise-content"-->
<div class="container exercise-content">

    <div class="row">
        <div class="col-md-11">
            <ol class="breadcrumb">
                <li><a [routerLink]="['home']">Home</a></li>
                <!--<li><a [routerLink]="['/ps-landing']">Post-School Survey</a></li>-->
                <li class="active">List</li>
            </ol>
        </div>
        <div class="col-md-12" style="border-bottom: 1px solid black; border-top: 1px solid black; text-align: center; margin-bottom: 25px;">
            <h1>MANAGE SURVEYS</h1>
        </div>
        <div>
            <!--<div class="buttonwrapper">
                <Form><label for="searchssid" class="control-label">Search By SSID:&nbsp;</label><input type="text" id="searchssid" #searchssid placeholder="Enter SSID Number" /><button type="submit" class="submitbutton" (click)="navigateToSSID(searchssid.value)">Find</button></Form>
                <button class="btn btn-link" id="btnDownloadExtract" type="submit" style="margin-left: 50px;" (click)="getContactRateReport()">Download Contact Rate Report</button>
                <a style="float: right; margin-right: 25px;" [routerLink]="['/app/post-school/ps-questions']" target="_blank">View Post-School Questions</a>
            </div>-->
            <div></div>
            <table class="table table-striped table-bordered table-hover" style="margin: auto;">
                <caption>List of surveys includes survey type.</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Open Date</th>
                        <th>Close Date</th>
                        <th>School Year</th>

                        <th>Leaver Year</th>
                        <th>Locked</th>
   <!--<th>Fld8</th>
    <th>Fld9</th>
    <th>Fld10</th>

    <th>Fld11</th>
    <th>Fld12</th>
    <th>Fld13</th>
    <th>Fld14</th>
    <th>Fld15</th>-->
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let survey of surveys">
                        <tr>
                            <td class="text-muted">{{survey.id}}</td>
                            <!--<td>{{survey.name}}</td>-->
                            <td><a [routerLink]="['/surveys',survey.id]">{{survey.name}}</a></td>
                            <td>{{survey.openDate}}</td>
                            <td>{{survey.closeDate}}</td>
                            <td>{{survey.schoolYear}}</td>

                            <td>{{survey.leaverYear}}</td>
                            <td>{{survey.isLocked}}</td>


                            <!--<td>{{survey.description}}</td>
    <td>{{survey.surveyTypeCode }}</td>
    <td>{{survey.instructions}}</td>
    <td>{{survey.createDate}}</td>
    <td>{{survey.createdBy}}</td>
    <td>{{survey.updateDate}}</td>
    <td>{{survey.updatedBy}}</td>
    <td>{{survey.isReported}}</td>-->


                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <tsf-footer></tsf-footer>
</div>
